<ion-toolbar>
  <div>
    <br />
    <div class="lateral animated bounceIn" (click)="global.linkVoltar()"><img src="../../../assets/img/icone.png" width="80" />
      <ion-label class="white" style="padding-top: 1px;">Voltar</ion-label>
      </div>
      <div class="lateral animated bounceIn" (click)="global.linkSobre()">
        <ion-icon name="globe" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Sobre</ion-label>
        </div>
     <div class="lateral animated bounceIn fast" (click)="global.linkProdutos()">
      <ion-icon name="cart" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Produtos</ion-label>
      </div>
     <div class="lateral animated bounceIn delay-1s" (click)="global.linkClientes()">
      <ion-icon name="body" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Clientes</ion-label>
      </div>
      <div class="lateral animated bounceIn delay-2s" (click)="global.linkCategorias()">
        <ion-icon name="filing" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Categorias</ion-label>
        </div>
     <div class="lateral animated bounceIn delay-3s" (click)="prosesLogout()">
      <ion-icon name="log-out" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Sair</ion-label>
      </div>
      </div>
</ion-toolbar>
<ion-content color="light">

  <div style="margin-left: 90px;margin-right: 10px;background-color: #fff;margin-top: 15px;text-align: right;">

    <ion-item>
    <ion-select cancelText='Cancelar' okText='Mudar' [(ngModel)]="extracoes" interface='action-sheet' (ionChange)='verExtracoes($event)' placeholder="Filtrar..." >
      <ion-select-option value="0">De hoje</ion-select-option>
      <ion-select-option value="7" >Últimos 7 dias</ion-select-option>
      <ion-select-option value="30" >últimos 30 dias</ion-select-option>
      <ion-select-option value="60" >Últimos 60 dias</ion-select-option>
      <ion-select-option value="90" >Últimos 90 dias</ion-select-option>
      <ion-select-option value="180" >Últimos 180 dias</ion-select-option>
      <ion-select-option value="360" >Últimos 360 dias</ion-select-option>
      <ion-select-option value="9" >Tudo</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Exportar para Excel?</ion-label>
    <ion-toggle color="fundo" (ionChange)='downloadXLS($event)' [(ngModel)]="excel"></ion-toggle>
  </ion-item>
  <div>
  <ion-grid >
    <ion-row>
      <ion-col style="text-align: left;">
        CLIENTE
      </ion-col>
      <ion-col style="text-align: right;">
        RECEITA
      </ion-col>
      <ion-col style="text-align: right;">
        DESPESA
      </ion-col>
      </ion-row>
      <ion-row class="fiscal linha" *ngFor="let mov of movs"style="margin-bottom: 8px;background-color: rgba(0,0,0,0.1);">
        <ion-col style="text-align: left">
          <b>{{mov.idcliente_m}}</b>
        </ion-col>
        <ion-col style="text-align: right;">
          R${{mov.valor_m}}
        </ion-col>
        <ion-col style="text-align: right;">
          R${{mov.valor2}}
        </ion-col>
        </ion-row>
      </ion-grid>
</div>
  </div>
</ion-content>
