<ion-toolbar>
  <div>
    <br />
    <div class="lateral animated bounceIn" (click)="global.linkVoltar()"><img src="../../../assets/img/icone.png" width="80" />
      <ion-label class="white" style="padding-top: 1px;">Voltar</ion-label>
      </div>
      <div class="lateral animated bounceIn" (click)="global.linkControle()">
        <ion-icon name="briefcase" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Controle</ion-label>
        </div>
     <div class="lateral animated bounceIn fast" (click)="global.linkProdutos()">
      <ion-icon name="cart" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Produtos</ion-label>
      </div>
     <div class="lateral animated bounceIn delay-1s" (click)="global.linkClientes()">
      <ion-icon name="body" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Clientes</ion-label>
      </div>
      <div class="lateral animated bounceIn delay-2s" (click)="global.linkCategorias()">
        <ion-icon name="filing" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Categorias</ion-label>
        </div>
     <div class="lateral animated bounceIn delay-3s" (click)="prosesLogout()">
      <ion-icon name="log-out" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Sair</ion-label>
      </div>
      </div>
</ion-toolbar>
<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" pullingText="Atualizar" refreshingText="Atualizando..."></ion-refresher-content>
  </ion-refresher>
  <div style="margin-left: 90px;margin-right: 0px;background-color: #fff;margin-top: 15px;text-align: right;">
 
  
    <ion-item>
      <ion-icon name="search" slot="start"></ion-icon>
      <ion-button color="fundo" (click)="linkHoje()">HOJE</ion-button> <ion-button color="fundo" (click)="linkSemana()">SEMANA</ion-button> <ion-button color="fundo" (click)="linkMes()">MÊS</ion-button> <ion-button color="fundo" (click)="linkAno()">ANO</ion-button>
    </ion-item>
<br />
<ion-list>
    <ion-item-sliding *ngFor="let mov of movs">
      <ion-item>
        <ion-icon name="analytics" slot="start"></ion-icon>
        <ion-label>
          <small>
          <b>{{mov.idcliente_m}}</b> <br />
          Valor recebido: R${{mov.valor_m}} ({{mov.opcao1}})<br />
          <ion-label *ngIf="mov.valor2!=''">Valor em despesas: R${{mov.valor2}} ({{mov.opcao2}})</ion-label>
          <ion-label *ngIf="mov.funcionario!=''">Funcionário: {{mov.funcionario}}</ion-label>
          <ion-label *ngIf="mov.categoria_m!=''">Categoria: {{mov.categoria_m}}</ion-label>
          <ion-label *ngIf="mov.rota!=''">Rota: {{mov.rota}}</ion-label>
          <ion-label *ngIf="mov.detalhes_m!=''">Obs.: {{mov.detalhes_m}}</ion-label>
          {{mov.dia_m}}
        </small>
        </ion-label>
      </ion-item>
      <ion-item-options>
          <ion-item-option (click)="openCrud(mov.id_movimentacao)" color="warning">
            <ion-icon name="create"></ion-icon>
          </ion-item-option>
        <ion-item-option (click)="delData(mov.id_movimentacao)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="animated infinite heartBeat" color="fundo" size="small" (click)="openCrud('0')"> 
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Buscando mais...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
