<ion-toolbar>
  <div>
    <br />
    <div class="lateral animated bounceIn" (click)="global.linkVoltar()"><img src="../../../assets/img/icone.png" width="80" />
      <ion-label class="white" style="padding-top: 1px;">Voltar</ion-label>
      </div>
      <div class="lateral animated bounceIn" (click)="global.linkControle()">
        <ion-icon name="briefcase" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Controle</ion-label>
        </div>
     <div class="lateral animated bounceIn fast" (click)="global.linkProdutos()">
      <ion-icon name="cart" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Produtos</ion-label>
      </div>
     <div class="lateral animated bounceIn delay-1s" (click)="global.linkClientes()">
      <ion-icon name="body" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Clientes</ion-label>
      </div>
      <div class="lateral animated bounceIn delay-2s" (click)="global.linkCategorias()">
        <ion-icon name="filing" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Categorias</ion-label>
        </div>
     <div class="lateral animated bounceIn delay-3s" (click)="prosesLogout()">
      <ion-icon name="log-out" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Sair</ion-label>
      </div>
      </div>
</ion-toolbar>
<ion-content color="light">

  <div style="margin-left: 90px;margin-right: 0px;background-color: #fff;margin-top: 15px;text-align: right;">
  
    <lottie-animation-view [options]="lottieConfig" [width]="300">
    </lottie-animation-view>
      <p style="text-align: right;padding-right: 20px;border: 0px;" class="animated bounceInRight">Todos os direitos reservados à Enxoval. 
        Esse aplicativo foi desenvolvido pela Agência DRN e estamos feliz por isso. Contate-nos!</p>
      
<br />
<div class="boxlateral">
      <ion-item class="animated infinite jello" style="padding-right: 10px;"><ion-icon slot="start" name="logo-instagram"></ion-icon><ion-label>@agenciadrn</ion-label></ion-item>
      <ion-item style="padding-right: 10px;"><ion-icon name="logo-whatsapp"></ion-icon><ion-label>&nbsp; +55 (98) 9 8465-5216</ion-label></ion-item>
      <ion-item style="padding-right: 10px;"><ion-icon name="logo-chrome"></ion-icon><ion-label>&nbsp; agenciadrn.com</ion-label></ion-item>
    </div>

      
          </div>
      </ion-content>
      
