<ion-toolbar>
  <div>
    <br />
    <div class="lateral animated bounceIn" (click)="global.linkLayout()"><img src="../../../assets/img/icone.png" width="80" />
      <ion-label class="white" style="padding-top: 1px;">Voltar</ion-label>
      </div>
      <div class="lateral animated bounceIn" (click)="global.linkSobre()">
        <ion-icon name="globe" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Sobre</ion-label>
        </div>
     <div class="lateral animated bounceIn fast" (click)="global.linkProdutos()">
      <ion-icon name="cart" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Produtos</ion-label>
      </div>
     <div class="lateral animated bounceIn delay-1s" (click)="global.linkClientes()">
      <ion-icon name="body" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Clientes</ion-label>
      </div>
      <div class="lateral animated bounceIn delay-2s" (click)="global.linkCategorias()">
        <ion-icon name="filing" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Categorias</ion-label>
        </div>
     <div class="lateral animated bounceIn delay-3s" (click)="global.prosesLogout()">
      <ion-icon name="log-out" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Sair</ion-label>
      </div>
      </div>
</ion-toolbar>
<ion-content color="light">

  <div style="margin-left: 90px;margin-right: 10px;background-color: #fff;margin-top: 15px;text-align: right;">
   
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Controle</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item (click)="global.linkClientes()">
          <ion-icon name="contacts" slot="start"></ion-icon>
          <ion-label>Clientes</ion-label>
        </ion-item>
        <ion-item (click)="global.linkFuncionarios()">
          <ion-icon name="bicycle" slot="start"></ion-icon>
          <ion-label>Funcionários</ion-label>
        </ion-item>
        <ion-item (click)="global.linkRelatorios()">
          <ion-icon name="pie" slot="start"></ion-icon>
          <ion-label>Gráficos</ion-label>
        </ion-item>
        <ion-item (click)="global.linkExtracoes(30)">
          <ion-icon name="podium" slot="start"></ion-icon>
          <ion-label>Extrações</ion-label>
        </ion-item>

        
      </ion-card-content>
    </ion-card>


        </div>
      </ion-content>
      
