
<ion-content>
 
  <div class="topo animated slideInDown delay-1s" id="topo">
  <img src="../../../assets/img/lo.png" width="210" class="pad animated bounceIn delay-2s">
  </div>
  
<div style="margin-top: 30px;margin-left: 20px;margin-right: 20px;" id="conteudo">
  
  <p style="color: white;padding-left: 10px;" class="animated bounceInLeft delay-1s">Olá {{this.name}}, veja os registros recentes...</p>
  <ion-card  class="box animated fadeInUp">
    <ion-item>
      <ion-select interface='action-sheet'cancelText='Cancelar' okText='Mudar' [(ngModel)]="filtro" (ionChange)='filtrar($event)' placeholder='Filtrar...'>
        <ion-select-option value="">Ver tudo</ion-select-option>
        <ion-select-option value="0">Vendas de hoje</ion-select-option>
        <ion-select-option value="7">Últimos 7 dias</ion-select-option>
        <ion-select-option value="30">Últimos 30 dias</ion-select-option>
        <ion-select-option value="60">Últimos 60 dias</ion-select-option>
        <ion-select-option value="90">Últimos 90 dias</ion-select-option>
        <ion-select-option value="180">Últimos 180 dias</ion-select-option>
        <ion-select-option value="360">Últimos 360 dias</ion-select-option>
        
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card *ngFor="let mov of movs" class="box animated fadeInUp">
    <ion-item>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-label>#{{mov.id_movimentacao}}</ion-label>
      <ion-button (click)="openCrud(mov.id_movimentacao)" fill="outline" color="warning" slot="end"><ion-icon name="build"></ion-icon></ion-button>
      <ion-button (click)="presentAlertConfirm(mov.id_movimentacao)" fill="outline" color="danger" slot="end"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
    <ion-card-content style="padding: 3px;">
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: right;">
           <ion-label>{{mov.idcliente_m}}</ion-label>
          </ion-col>
        </ion-row>
  

        <ion-row>
          <ion-col>
            <p class="linha"></p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="text-align: left;">
           Valor recebido
          </ion-col>
          <ion-col style="text-align: right;animation-duration: 5s;" class="animated infinite tada">
           <ion-label color="success">R${{mov.valor_m}}</ion-label>&nbsp;
           <ion-icon name="wallet" *ngIf="mov.opcao1=='Débito'"></ion-icon>
           <ion-icon name="card" *ngIf="mov.opcao1=='Crédito'"></ion-icon>
          </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: left;">
             Valor em despesa
            </ion-col>
            <ion-col style="text-align: right;">
             <ion-label color="danger">R${{mov.valor2}}</ion-label>&nbsp;
             <ion-icon name="wallet" *ngIf="mov.opcao2=='Débito'"></ion-icon>
             <ion-icon name="card" *ngIf="mov.opcao2=='Crédito'"></ion-icon>
            </ion-col>
            </ion-row>

            <ion-row *ngIf="mov.rota!=''">
              <ion-col style="text-align: left;">
               Rota
              </ion-col>
              <ion-col style="text-align: right;">
               <ion-label>{{mov.rota}}</ion-label>
              </ion-col>
              </ion-row>

            <ion-row>
              <ion-col style="text-align: left;">
               Categoria
              </ion-col>
              <ion-col style="text-align: right;">
               <ion-label>{{mov.categoria_m}}</ion-label>
              </ion-col>
              </ion-row>

            <ion-row>
              <ion-col style="text-align: left;">
               Funcionário
              </ion-col>
              <ion-col style="text-align: right;">
               <ion-label color="primary">{{mov.funcionario}}</ion-label>
              </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col>
                  <p class="linha"></p>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="mov.detalhes_m!=''">
                <ion-col>
                 Observações: {{mov.detalhes_m}}
                </ion-col>
                </ion-row>

        
                <ion-row>
                 
                  <ion-col style="text-align: right;">
                   <ion-label color="medium">{{mov.dia_m}}</ion-label>
                  </ion-col>
                  </ion-row>
          
          </ion-grid>
    </ion-card-content>
  </ion-card>

</div>

<div class="tab" id="tab">
  <div class="animated bounceIn" (click)="global.addMov()"><ion-icon name="add" class="menus"></ion-icon>
    
    </div>
   <div class="animated bounceIn delay-1s" (click)="atualizar()">
    <ion-icon name="git-compare" class="menus"></ion-icon>
    
    </div>
   <div class="animated bounceIn delay-2s" (click)="global.linkControleLayout()">
    <ion-icon name="briefcase" class="menus"></ion-icon>
    
    </div>
   <div class="animated bounceIn delay-3s" (click)="prosesLogout()">
    <ion-icon name="log-out" class="menus"></ion-icon>
    
    </div>
</div>
<ion-infinite-scroll (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="dots">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
