<ion-toolbar>
  <div>
    <br />
    <div class="lateral animated bounceIn" (click)="global.linkVoltar()"><img src="../../../assets/img/icone.png" width="80" />
      <ion-label class="white" style="padding-top: 1px;">Voltar</ion-label>
      </div>
      <div class="lateral animated bounceIn" (click)="global.linkControle()">
        <ion-icon name="briefcase" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Controle</ion-label>
        </div>
     <div class="lateral animated bounceIn fast" (click)="global.linkProdutos()">
      <ion-icon name="cart" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Produtos</ion-label>
      </div>
     <div class="lateral animated bounceIn delay-1s" (click)="global.linkClientes()">
      <ion-icon name="body" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Clientes</ion-label>
      </div>
      <div class="lateral animated bounceIn delay-2s" (click)="global.linkCategorias()">
        <ion-icon name="filing" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Categorias</ion-label>
        </div>
     <div class="lateral animated bounceIn delay-3s" (click)="prosesLogout()">
      <ion-icon name="log-out" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Sair</ion-label>
      </div>
      </div>
</ion-toolbar>
<ion-content color="light">

  <div style="margin-left: 90px;margin-right: 0px;background-color: #fff;margin-top: 15px;text-align: right;">
    <lottie-animation-view [options]="lottieConfig" [width]="250" [height]="250">
    </lottie-animation-view>
    <br />
<ion-list>
  
  <ion-item>
    <ion-icon name="pricetags" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Nome da categoria" [(ngModel)]="nome_c"></ion-input>
  </ion-item>
  
  <ion-button *ngIf="id==0" expand="full" class="ion-padding" color="fundo" (click)="crudAction('Cadastrado')" [disabled]="disabledButton">
    Cadastrar
  </ion-button>
  <ion-button *ngIf="id!=0" expand="full" class="ion-padding" color="fundo" (click)="crudAction('Atualizado')" [disabled]="disabledButton">
    Atualizar
  </ion-button>
<br />
</ion-list>
</div>
</ion-content>
