// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@font-face {
  font-family: Aller;
  src: url("../assets/fonts/Aller_Bd.ttf");
}
 
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #007565;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #007565;
  --ion-color-dark-tint: #007565;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #fff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;

  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #fff;

  /** tema **/
  --ion-font-family: "Aller";

  --ion-tab-bar-background: #0d939e;
}



ion-content {
  --background: #0d939e url(../assets/img/bg.jpg) no-repeat fixed center / cover !important;
  position: relative;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.boxa {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(#fff,#b0bed8);
  border-top-right-radius: 60px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}
.intro {
  background-color: #fff;
  background-size: cover;
  border: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}
.top4 {
  background: #0d939e url(../assets/img/bg.jpg) no-repeat fixed center / cover !important;
  width: 100%;
  height: 45%;
  border-bottom-left-radius: 400%;
}
.top3 {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 90%;
  border-bottom-right-radius: 400%;
}
.top2 {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 58%;
  border-bottom-left-radius: 700%;
}
.top1 {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 59%;
  border-bottom-left-radius: 60px;
}

.menus {
  width: 30px;
  border: none !important;
  height: 30px;
  background: radial-gradient(
    circle closest-side,
    rgb(30, 171, 184) 0%,
    rgb(30, 171, 184) 98%,
    rgba(30, 171, 184, 0) 100%
  );
  padding: 10px;
  margin: 5px;
  // color: rgb(7, 92, 100);
  color: #fff;
}


.menus:hover {
  background: radial-gradient(circle closest-side, #fff 0%, #fff 98%, rgba(255, 255, 255, 0) 100%);
  color: rgb(7, 92, 100);
  border: none !important;
}

.menus:focus{
  outline-style: none;
}

.tab {
  border: 0px;
  height: 100px;
  padding-left: 4px;
  padding-right: 4px;
  position: fixed;
}

.white {
  color: #fff;
  font-size: 12px;
}

.topo {
  background-image: linear-gradient(#ffffff, #f5f3f3);
  width: 100%;
  height: 80px;
  border: 0px;
  border-bottom-right-radius: 60px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.pad {
  padding: 15px;
}

.box {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  background-color: #fff;
}

.boxlateral {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12), 0 20px 20px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
}

.branco {
  background-color: white;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 20px;
}

.lateral {
  margin-bottom: 15px;
}

ion-toolbar {
  border-top-right-radius: 60px;
  position: fixed;
  text-align: center;
  height: 100%;
  width: 85px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  --background: #0d939e url(../assets/img/bg.jpg) no-repeat fixed center / cover !important;
  --padding-top: 5px;
  --padding-left: 10px;
  --padding-right: 20px;
  --padding-start: 2px;
  --padding-end: 2px;
  --min-height: 100%;
  --min-width: 85px;
  --color: #fff;
  --border-width: 0px;
  
}

ion-select,
ion-input {
  min-width: 100%;
  border: 1px;
  border-top-left-radius: 30px;
}

.ion-color-fundo {
  --ion-color-base: #0d939e;
  --ion-color-contrast: #fff;
  --ion-color-tint: #0d939e;
}
.footer {
  height: 50%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.tab {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
}

.fiscal {
  font-family: monospace;
  padding: 3px;
}

.linha {
  border-bottom: 1px dashed;
}

.botao{
  border-radius: 100%;
  color: #eee;
  margin: 20px;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 1);
  float: right;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.botao:focus{
  outline-style: none;
}
.botao:hover{
  border: none !important;
}
