<ion-header no-border>
  <ion-toolbar color="success">
    <ion-title>Criar contas</ion-title>
    <ion-buttons slot="start" (click)="linkHome()">
     &nbsp;&nbsp;&nbsp; <ion-icon name="undo"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="fundo">
    <img src="../../../assets/img/logomarca.png" width="60%" style="padding-bottom: 20px;" />
  

<ion-list class="bordas" style="margin-left: 10px;margin-right: 10px;">
<div class="">
  <ion-item>
    <ion-icon name="happy" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Nome e Sobrenome" [(ngModel)]="your_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="transgender" slot="start"></ion-icon>
    <ion-label style="color: #999">Sexo</ion-label>
    <ion-select interface="popover" [(ngModel)]="gender">
      <ion-select-option value="f">Feminino</ion-select-option>
      <ion-select-option value="m">Masculino</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item style="color: #999">
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-label position="floating">Data de nascimento</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date_birth" min="1950-03-14" max="2019-12-01"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-icon name="at" slot="start"></ion-icon>
    <ion-input type="text" placeholder="E-mail" [(ngModel)]="email_address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="key" slot="start"></ion-icon>
    <ion-input type="password" placeholder="Senha" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="lock" slot="start"></ion-icon>
    <ion-input type="password" placeholder="Confirme a senha" [(ngModel)]="confirm_pass"></ion-input>
  </ion-item>
  <ion-button expand="full" class="ion-padding bordas" color="success" (click)="tryRegister()" [disabled]="disabledButton">
    Cadastrar
  </ion-button>
</div>
<br />
</ion-list>
</div>
</ion-content>
