<ion-toolbar>
  <div>
    <br />
    <div class="lateral animated bounceIn" (click)="global.linkVoltar()"><img src="../../../assets/img/icone.png" width="80" />
      <ion-label class="white" style="padding-top: 1px;">Voltar</ion-label>
      </div>
      <div class="lateral animated bounceIn" (click)="global.linkSobre()">
        <ion-icon name="globe" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Sobre</ion-label>
        </div>
     <div class="lateral animated bounceIn fast" (click)="global.linkProdutos()">
      <ion-icon name="cart" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Produtos</ion-label>
      </div>
     <div class="lateral animated bounceIn delay-1s" (click)="global.linkClientes()">
      <ion-icon name="body" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Clientes</ion-label>
      </div>
      <div class="lateral animated bounceIn delay-2s" (click)="global.linkCategorias()">
        <ion-icon name="filing" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Categorias</ion-label>
        </div>
     <div class="lateral animated bounceIn delay-3s" (click)="prosesLogout()">
      <ion-icon name="log-out" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Sair</ion-label>
      </div>
      </div>
</ion-toolbar>
<ion-content color="light">

  <div style="margin-left: 90px;margin-right: 10px;background-color: #fff;margin-top: 15px;text-align: right;">

    <ion-item>
    <ion-select cancelText='Cancelar' okText='Mudar' [(ngModel)]="mes2" interface='action-sheet' (ionChange)='verGraficos($event)' placeholder="Selecione..." >
      <ion-select-option value="01">Janeiro</ion-select-option>
      <ion-select-option value="02" >Fevereiro</ion-select-option>
      <ion-select-option value="03" >Março</ion-select-option>
      <ion-select-option value="04" >Abril</ion-select-option>
      <ion-select-option value="05" >Maio</ion-select-option>
      <ion-select-option value="06" >Junho</ion-select-option>
      <ion-select-option value="07" >Julho</ion-select-option>
      <ion-select-option value="08" >Agosto</ion-select-option>
      <ion-select-option value="09" >Setembro</ion-select-option>
      <ion-select-option value="10">Outubro</ion-select-option>
      <ion-select-option value="11">Novembro</ion-select-option>
      <ion-select-option value="12">Dezembro</ion-select-option>
    </ion-select>
  </ion-item>
    

      <canvas height="250" baseChart
      [datasets]='chartData'
      [labels]='chartLabels'
      [options]='chartOptions'
      [colors]='chartColors'
      [legend]='showLegend'
      [chartType]='chartType'>
    </canvas>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Configurações</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item>
          <ion-label>Estilo de gráficos</ion-label>
          <ion-select interface='action-sheet' cancelText='Cancelar' okText='Mudar' placeholder="Mudar gráfico" (ionChange)='typeChanged($event)'>
            <ion-select-option value="bar">Barra</ion-select-option>
            <ion-select-option value="line">Linha</ion-select-option>
            <ion-select-option value="radar">Radar</ion-select-option>
            <ion-select-option value="pie">Rosca</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>

          <ion-label>
            Mostrar legenda?
          </ion-label>
          <ion-toggle color="fundo" [(ngModel)]="showLegend"></ion-toggle>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
    

      </div>
</ion-content>
