<ion-toolbar>
  <div>
    <br />
    <div class="lateral animated bounceIn" (click)="global.linkVoltar()"><img src="../../../assets/img/icone.png" width="80" />
      <ion-label class="white" style="padding-top: 1px;">Voltar</ion-label>
      </div>
      <div class="lateral animated bounceIn" (click)="global.linkControle()">
        <ion-icon name="briefcase" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Controle</ion-label>
        </div>
     <div class="lateral animated bounceIn fast" (click)="global.linkProdutos()">
      <ion-icon name="cart" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Produtos</ion-label>
      </div>
     <div class="lateral animated bounceIn delay-1s" (click)="global.linkClientes()">
      <ion-icon name="body" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Clientes</ion-label>
      </div>
      <div class="lateral animated bounceIn delay-2s" (click)="global.linkCategorias()">
        <ion-icon name="filing" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Categorias</ion-label>
        </div>
     <div class="lateral animated bounceIn delay-3s" (click)="prosesLogout()">
      <ion-icon name="log-out" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Sair</ion-label>
      </div>
      </div>
</ion-toolbar>
<ion-content color="light">

  <div style="margin-left: 90px;margin-right: 0px;background-color: #fff;margin-top: 15px;text-align: right;">
    <lottie-animation-view [options]="lottieConfig" [width]="250" [height]="250">
    </lottie-animation-view>
    <br />
<ion-list>
  
  <ion-item>
    <ion-icon name="happy" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Nome completo" [(ngModel)]="nome"></ion-input>
  </ion-item>

    <ion-item>
      <ion-icon name="list-box" slot="start"></ion-icon>
      <ion-input type="tel" placeholder="CPF ou CNPJ" [(ngModel)]="cpfcnpj" [brmasker]="{person: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-input type="tel" placeholder="CEP" [(ngModel)]="cep" [brmasker]="{mask: '00000-000',len: 9,userCaracters: false}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="map" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Bairro" [(ngModel)]="bairro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Endereço" [(ngModel)]="endereco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="medical" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Número" [(ngModel)]="numero"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-steam" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Complemento" [(ngModel)]="complemento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="locate" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Cidade" [(ngModel)]="cidade"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
    <ion-label style="color: #999">Estado</ion-label>
    <ion-select style="color: #999" [(ngModel)]="estado"  interface="action-sheet" style="max-width: 100%;" cancelText="Cancelar">
      <ion-select-option value="AC">Acre</ion-select-option>
      <ion-select-option value="AL">Alagoas</ion-select-option>
      <ion-select-option value="AP">Amapá</ion-select-option>
      <ion-select-option value="AM">Amazonas</ion-select-option>
      <ion-select-option value="BA">Bahia</ion-select-option>
      <ion-select-option value="CE">Ceará</ion-select-option>
      <ion-select-option value="DF">Distrito Federal</ion-select-option>
      <ion-select-option value="ES">Espírito Santo</ion-select-option>
      <ion-select-option value="GO">Goiás</ion-select-option>
      <ion-select-option value="MA">Maranhão</ion-select-option>
      <ion-select-option value="MT">Mato Grosso</ion-select-option>
      <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
      <ion-select-option value="MG">Minas Gerais</ion-select-option>
      <ion-select-option value="PA">Pará</ion-select-option>
      <ion-select-option value="PB">Paraíba</ion-select-option>
      <ion-select-option value="PR">Paraná</ion-select-option>
      <ion-select-option value="PE">Pernambuco</ion-select-option>
      <ion-select-option value="PI">Piauí</ion-select-option>
      <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
      <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
      <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
      <ion-select-option value="RO">Rondônia</ion-select-option>
      <ion-select-option value="RR">Roraima</ion-select-option>
      <ion-select-option value="SC">Santa Catarina</ion-select-option>
      <ion-select-option value="SP">São Paulo</ion-select-option>
      <ion-select-option value="SE">Sergipe</ion-select-option>
      <ion-select-option value="TO">Tocantins</ion-select-option>
    </ion-select>
  </ion-item>
   
  <ion-item>
    <ion-icon name="git-merge" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Linha" [(ngModel)]="linha"></ion-input>
  </ion-item>
 
  <ion-button *ngIf="id==0" expand="full" class="ion-padding" color="fundo" (click)="crudAction('Cadastrado')" [disabled]="disabledButton">
    Cadastrar
  </ion-button>
  <ion-button *ngIf="id!=0" expand="full" class="ion-padding" color="fundo" (click)="crudAction('Atualizado')" [disabled]="disabledButton">
    Atualizar
  </ion-button>
<br />
</ion-list>
</div>
</ion-content>
