<ion-header no-border>
  <ion-toolbar color="success">
    <ion-title>
      <ion-icon name="finger-print"></ion-icon>
      <ion-label> {{this.name}}</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="prosesLogout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="fundo">
    <img src="../../../assets/img/logomarca.png" width="60%" style="padding-bottom: 20px;" />


    <ion-list class="bordas" style="margin-left: 10px;margin-right: 10px;">
      <ion-item (click)="linkAdd()">
        <ion-icon name="person-add" slot="start"></ion-icon>
        <ion-label>Criar conta</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="linkMov()">
        <ion-icon name="cash" slot="start"></ion-icon>
        <ion-label>Movimentações</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="linkClientes()">
        <ion-icon name="contacts" slot="start"></ion-icon>
        <ion-label>Clientes</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="linkFunc()">
        <ion-icon name="man" slot="start"></ion-icon>
        <ion-label>Funcionários</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="linkCategorias()">
        <ion-icon name="filing" slot="start"></ion-icon>
        <ion-label>Categorias</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="linkLayout()">
        <ion-icon name="filing" slot="start"></ion-icon>
        <ion-label>Layout</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
      
      
    </ion-list>

  </div>
  
</ion-content>