<ion-toolbar>
  <div>
    <br />
    <div class="lateral animated bounceIn" (click)="global.linkVoltar()"><img src="../../../assets/img/icone.png" width="80" />
      <ion-label class="white" style="padding-top: 1px;">Voltar</ion-label>
      </div>
      <div class="lateral animated bounceIn" (click)="global.linkControle()">
        <ion-icon name="briefcase" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Controle</ion-label>
        </div>
     <div class="lateral animated bounceIn fast" (click)="global.linkProdutos()">
      <ion-icon name="cart" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Produtos</ion-label>
      </div>
     <div class="lateral animated bounceIn delay-1s" (click)="global.linkClientes()">
      <ion-icon name="body" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Clientes</ion-label>
      </div>
      <div class="lateral animated bounceIn delay-2s" (click)="global.linkCategorias()">
        <ion-icon name="filing" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Categorias</ion-label>
        </div>
     <div class="lateral animated bounceIn delay-3s" (click)="prosesLogout()">
      <ion-icon name="log-out" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Sair</ion-label>
      </div>
      </div>
</ion-toolbar>
<ion-content color="light">

  <div style="margin-left: 90px;margin-right: 0px;background-color: #fff;margin-top: 15px;text-align: right;">
  
      <lottie-animation-view [options]="lottieConfig" [width]="250" [height]="250">
      </lottie-animation-view>


<ion-list>
  <ion-item  style="color: #999"> 
    <ion-icon name="body" slot="start"></ion-icon>
    <ion-select interface="action-sheet"  placeholder="Selecione o cliente" [selectedText]="idcliente_m" [(ngModel)]="idcliente_m" cancelText="Cancelar">
      <ion-select-option value="Sem cliente">Selecione o cliente...</ion-select-option>
      <ion-select-option *ngFor="let cliente of clientes" value="{{cliente.nome}}" [selected]="cliente.nome == idcliente_m">{{cliente.nome}}</ion-select-option>
      </ion-select>
  </ion-item>

    <ion-item  style="color: #999">
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-input type="tel" placeholder="Valor recebido (R$)" [(ngModel)]="valor_m" [brmasker]="{money: true}" (keyup)="onExibirR()"></ion-input>
    </ion-item>

    <ion-item *ngIf="flag1 && id!=0" style="color: #999"> 
      <ion-icon name="card" slot="start"></ion-icon>
      <ion-select position="floating" interface="action-sheet" placeholder="Selecione..." interface="action-sheet" [(ngModel)]="opcao1" cancelText="Cancelar">
          <ion-select-option value="Débito">DÉBITO</ion-select-option>
          <ion-select-option value="Crédito">CRÉDITO</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item  style="color: #999">
      <ion-icon name="wallet" slot="start"></ion-icon>
      <ion-input type="tel" placeholder="Valor em despesas (R$)" [(ngModel)]="valor2" [brmasker]="{money: true}" (keyup)="onExibirD()"></ion-input>
    </ion-item>

    <ion-item *ngIf="flag2 && id!=0"   style="color: #999"> 
      <ion-icon name="card" slot="start"></ion-icon>
      <ion-select  position="floating" interface="action-sheet"  placeholder="Selecione..." interface="action-sheet" [(ngModel)]="opcao2" cancelText="Cancelar">
          <ion-select-option value="Débito">DÉBITO</ion-select-option>
          <ion-select-option value="Crédito">CRÉDITO</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item  style="color: #999">
      <ion-icon name="clipboard" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Observações" [(ngModel)]="detalhes_m"></ion-input>
    </ion-item>

    <ion-item  style="color: #999"> 
      <ion-icon name="pricetags" slot="start"></ion-icon>
      <ion-select interface="action-sheet"  placeholder="Selecione a categoria" [(ngModel)]="categoria_m" cancelText="Cancelar" [selectedText]="categoria_m">
        <ion-select-option value="Sem categoria">Selecione a categoria...</ion-select-option>
        <ion-select-option *ngFor="let cat of categorias" value="{{cat.nome_c}}" selected="selected">{{cat.nome_c}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item  style="color: #999"> 
      <ion-icon name="bicycle" slot="start"></ion-icon>
      <ion-select interface="action-sheet" placeholder="Selecione o funcionário" [(ngModel)]="funcionario" cancelText="Cancelar" [selectedText]="funcionario">
        <ion-select-option value="Sem funcionário">Selecione o funcionário...</ion-select-option>
        <ion-select-option *ngFor="let func of funcionarios" value="{{func.nome}}" selected="selected">{{func.nome}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item  style="color: #999">
      <ion-icon name="compass" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Rota" [(ngModel)]="rota"></ion-input>
    </ion-item>

    <ion-item style="color: #999">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-datetime [(ngModel)]="dia_m" placeholder="Data" [value]="dia_m" displayFormat="DD/MM/YYYY | H:mm" min="2019-01-01" doneText="Ok" cancelText="Cancelar"></ion-datetime>
    </ion-item>
 
  <ion-button *ngIf="id==0" expand="full" color="fundo" (click)="crudAction('Cadastrado')" [disabled]="disabledButton">
    Cadastrar
  </ion-button>
  <ion-button *ngIf="id!=0" expand="full" color="fundo" (click)="crudAction('Atualizado')" [disabled]="disabledButton">
    Atualizar
  </ion-button>
<br />
</ion-list>



    </div>
</ion-content>
