.fundo{
    padding: 20px;
    background-image: url(../../../assets/img/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
  }

  .bordas{
      border-radius: 20px;
  }