<ion-toolbar>
  <div>
    <br />
    <div class="lateral animated bounceIn" (click)="global.linkVoltar()"><img src="../../../assets/img/icone.png" width="80" />
      <ion-label class="white" style="padding-top: 1px;">Voltar</ion-label>
      </div>
      <div class="lateral animated bounceIn" (click)="global.linkControle()">
        <ion-icon name="briefcase" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Controle</ion-label>
        </div>
     <div class="lateral animated bounceIn fast" (click)="global.linkProdutos()">
      <ion-icon name="cart" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Produtos</ion-label>
      </div>
     <div class="lateral animated bounceIn delay-1s" (click)="global.linkClientes()">
      <ion-icon name="body" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Clientes</ion-label>
      </div>
      <div class="lateral animated bounceIn delay-2s" (click)="global.linkCategorias()">
        <ion-icon name="filing" class="menus"></ion-icon>
        <ion-label class="white" style="padding-top: 1px;">Categorias</ion-label>
        </div>
     <div class="lateral animated bounceIn delay-3s" (click)="prosesLogout()">
      <ion-icon name="log-out" class="menus"></ion-icon>
      <ion-label class="white" style="padding-top: 1px;">Sair</ion-label>
      </div>
      </div>
</ion-toolbar>
<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" pullingText="Atualizar" refreshingText="Atualizando..."></ion-refresher-content>
  </ion-refresher>
  <div style="margin-left: 90px;margin-right: 0px;background-color: #fff;margin-top: 15px;text-align: right;">
  
<ion-list>
    <ion-item-sliding *ngFor="let func of funcionarios">
      <ion-item>
        <ion-icon name="bicycle" slot="start"></ion-icon>
        <ion-label>
          <small>
          <b>{{func.nome}}</b> <br />
          CPF/CNPJ: {{func.cpf}}<br />
          <small *ngIf="func.endereco!=''">{{func.endereco}}</small>
          <small *ngIf="func.numero!=''">, {{func.numero}}</small>
          <small *ngIf="func.complemento!=undefined">, ({{func.complemento}})</small>
          <small *ngIf="func.bairro!=''">, {{func.bairro}}</small>
          <small *ngIf="func.cidade!=''">, {{func.cidade}}</small>
          <small *ngIf="func.estado!=''"> - {{func.estado}}</small>
          <small *ngIf="func.cep!=''">, {{func.cep}}</small>
        </small>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="openCrud(func.funcionarioid)" color="warning">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="delData(func.funcionarioid)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="animated infinite heartBeat" color="fundo"  size="small" (click)="openCrud('0')"> 
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Buscando mais...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
