<ion-content>
  
  <div class="intro">
    <div class="top4 animated slideInDown">
      <div class="top3 animated slideInDown delay-1s">
      <p style="padding-top: 15%;margin-top: 0px;padding-left: 15%;color: #fff;font-size: 30px;">Entrar<br />na sua conta</p>
      </div>
    </div>
<div class="footer">
  <ion-list style="padding-left: 20px;padding-right: 20px;">
    <ion-item>
      <ion-icon name="mail" slot="slot"></ion-icon>
      <ion-input type="text" class="ion-padding animated slideInDown"  placeholder="E-mail" [(ngModel)]="email_address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="key" slot="slot" class="ion-padding"></ion-icon>
      <ion-input type="password" class="ion-padding animated slideInDown delay-1s"  placeholder="Senha" [(ngModel)]="password"></ion-input>
    </ion-item>
    <button expand="full" class="botao animated slideInRight" (click)="tryLogin()">
      <h1 style="font-size: 30px;"><ion-icon name="arrow-round-forward"></ion-icon></h1>
    </button>
    <br />
  </ion-list>
  <img src="../../../assets/img/lo.png" width="100" style="animation-duration: 5s;" class="animated infinite tada" />
</div>
  </div>

  
   
 
</ion-content>
